<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
    <header id="header" class="p-5 shadow-lg flex justify-center sticky top-0">
        <div class="container flex justify-between items-center">
            <div class="logo uppercase text-2xl font-bold text-primary-light">
                <a href="{{ site.baseurl }}">
                    <img src="{{ site.baseurl }}/assets/img/logo.png" />
                </a>
            </div>
        </div>
    </header>