.posts{
    &_list{
        margin-left: -5px;
        margin-right: -5px;
    }

    &_item{
        max-width: calc(100% / 4 - 10px);
        width: 100%;
        margin: 5px;
    }
}

.aspect_ratio{
    padding-top: 56.28%;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        object-position: center;
    }
}